.account-form {
    margin-top: 30px;
    color: #ff5733;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.input {
    margin: 5px
}