.gallery {
    text-align: center;
}

figure {
    display: inline-block;
    margin: 10px;
}

img {
    display: block;
    width: 200px;
    height: 200px;
}

figcaption {
    text-align: center;
}

.cart {
    text-align: center;
    margin-top: 50px;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.header {

    text-align: center;
    margin: 10px;
    font-size: 30px;
    color: white;
    background-color: black;

}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #ff8c66;
}


.input {
    margin: 5px;
    text-align: center;
}

.account-form {

    text-align: center;
}

h1,
h2 {
    color: #ff5733;
    text-align: center;
}

/* Additional styles for the home button */
.home-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #ff8c66;
}

/* Additional styles for item display */
.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-info {
    flex-grow: 1;
    margin-left: 10px;
    text-align: left;
}
