.account-form {
    margin-top: 30px;
    color: #ff5733;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.input {
    margin: 5px
}

.gallery {
    text-align: center;
}

figure {
    display: inline-block;
    margin: 2px;
}

img {
    display: block;
    width: 200px;
    height: 200px;
}

figcaption {
    text-align: center;
}